NODE_ENV="development"
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ph_health_care?schema=public"
JWT_SECRET="ksfljkdsjflksdjflk"
EXPIRES_IN="30d"
REFRESH_TOKEN_SECRET="skdslfjiskfjsdf"
REFRESH_TOKEN_EXPIRES_IN="30d"
RESET_PASS_TOKEN="1244444444kkkkk"
RESET_PASS_TOKEN_EXPIRES_IN="5m"
RESET_PASS_LINK="FRONT-END RESET PASS LINK"
EMAIL = "YOUR EMAIL"
APP_PASS = "APP PASS"